[submodule "themes/simplicity"]
	path = themes/simplicity
	url = https://github.com/eshlox/simplicity.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "themes/natrium"]
	path = themes/natrium
	url = https://github.com/mobybit/hugo-natrium-theme
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa
[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
	branch = release
[submodule "themes/hugo-minimalist-theme"]
	path = themes/hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
